$purple: #563a59;
$taupe: #a88c91;
$cream: #d8bcb7;
$rose: #e0a3a3;
$mauve: #9e4c4f;
$black: #000000;
$white: #ffffff;
$gray: grey;

$primary: $purple;
$secondary: $taupe;
$accent_dark: $mauve;
$accent_light: $rose;
$light: $cream;
$dark: $black;

$font_display: 3rem;
$font_large: 2rem;
$font_regular: 1.25rem;

